<body>
    @using (Html.BeginForm("AddContactAction", "Home", FormMethod.Post))
    {
        <p>
            @Html.LabelFor(m => m.FirstName, "Имя")<br />
            @Html.TextBoxFor(m => m.FirstName)
        </p>
        <p>
            @Html.LabelFor(m => m.LastName, "Фамилия")<br />
            @Html.TextBoxFor(m => m.LastName)
        </p>
        <p>
            @Html.LabelFor(m => m.MiddleName, "Отчество")<br />
            @Html.TextBoxFor(m => m.MiddleName)
        </p>
        <p>
            @Html.LabelFor(m => m.Email, "Email")<br />
            @Html.TextBoxFor(m => m.Email)
        </p>
        <p>
            @Html.LabelFor(m => m.Submit, "Комментарий")<br />
            @Html.TextBoxFor(m => m.Submit)
        </p>
        <p>
            @Html.LabelFor(m => m.TelephonNumber, "Телефон")<br />
            @Html.TextBoxFor(m => m.TelephonNumber, "", new { type = "number" })
        </p>
        <p>
            <input type="submit" value="Отправить" />
        </p>
    }
</body>
