@model IEnumerable<HomeWork_21.Models.PhoneBook>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewAll</title>
</head>
<body>
    <p>
        <a href="/Home/AddContact" class="btn-danger" style="animation-delay:initial">Добавить новый контакт</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelephonNumber )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in ViewBag.PhoneBooks) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.MiddleName
            </td>
            <td>
                ***
            </td>
            <td>
                ***
            </td>
            <td>
                ***
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
